#map {
	width:100%;
}

#map img {
    width: 800px;
    margin: auto;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	position: relative;
}

.crate {
	position: absolute;
	height: 50px;
	width: 50px;
	background: url("../images/crate-small.png");
	background-position: center;
	background-size: cover;
}

.poke {
    position: absolute;
	height: 100px;
	width: 100px;
	background-position: center;
	background-size: cover;
}

